body{
    justify-content: center;
    align-items: center;
    margin: 0;
}
header{
    background-image: url('picture.jpg');
    padding: 0;
    text-align: center;
    padding: 40px 0;
    color: white;
}
#drop-down{
    position : absolute; 
    width : 150px;
    background-color : rebeccapurple;
    color : white;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
    height : auto;
    overflow-x: hidden;
    visibility: hidden;
    overflow-y: auto;
}
.li{
    padding:0 5px;
    border: 1px solid black;
    width: 100%;
}
.li:hover{
    background-color: #fff;
    color: #062461;
}
#btn{
    background-color: #f15618;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    height: 40px;
    width: 150px;
    cursor: pointer;
}
#btn:hover{
    background-color: rgb(211, 109, 69);
    box-shadow: 0 0 7px rgb(100, 90, 90);
}
#content{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    background-color:#062461;
    padding:0;
    height: 100vh;
    color: white;
}
textarea{
    resize: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 4.5px 4.5px 3px 4.5;
    align-items: center;
    justify-self: center;
    font-size: larger !important;
    border: 0;
    opacity: 0.;
}
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
    outline:0px !important;
}
textarea::selection{
    background: #7a7878;
}
#editor{
    align-items: center;
    justify-content: center;
    font-size: larger !important;
    width: 100%;
    height: 100%;
    display: flex;
}
.display-flex{
    display: flex;
}
span{
    font-size:larger;
}
#counting{
    text-align: center;
    justify-self: center;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin: 4px;
}
#input_text{
    align-items: center;
    font-size: larger;
    background-color: rgb(201, 199, 199);
    justify-content: center;
    text-transform: uppercase;
    /* opacity: 0.1; */
}
#input{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#output{
    display: flex;
    float:left;
    overflow: hidden;
}
#output_text{
    background-color: #222833d4;
    color: azure;
}
